body {
  background-color: #48d0b0;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}

header svg {
  padding: 0.5rem;
  color: #ffffff;
}

main {
  @import url(https://fonts.google.com/specimen/Lato?preview.text=Bulbasaur);
  font-family: "Lato", sans-serif;
}

h2 {
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.type {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 1rem;
  align-items: flex-start;
  margin-top: 0.5rem;
  height: 100%;
  border-radius: 1rem;
  padding: 0.25rem;
  box-sizing: border-box;
  color: #ffffff;
}

.type ul {
  display: flex;
  gap: 0.5rem;
}

.type li {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.75rem;
  padding: 0.125rem 0.5rem;
}

img {
  max-width: 100%;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

div img {
  display: flex;
  width: 40%;
  margin: auto;
  z-index: 100;
}

.info {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 2rem;
  max-width: 25rem;
  margin: auto;
  border-radius: 1.5rem;
  margin-top: -2.5rem;
  width: 60%;
}

.info ul {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  justify-content: center;
}

.info table {
  margin-top: 1rem;
  font-size: 1rem;
}

.info nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.navbar {
  border-bottom: 1px solid #bbbbbb;
}

.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #031d44;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #242424;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.nav-link-fade-up::before {
  width: 100%;
  bottom: 5px;
  opacity: 0;
}

.nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
}

.nav-link-grow-up::before {
  height: 0%;
  width: 100%;
  bottom: 0px;
}

.nav-link-grow-up:hover::before {
  height: 5px;
}

table {
  padding-bottom: 1rem;
}

.ligne {
  border-bottom: 1px solid #bbbbbb;
}

footer {
  font-size: 1rem;
  margin-top: 1rem;
}

@media screen and (min-width: 640px) {
  main {
    height: 90%;
  }
}

@media screen and (min-width: 960px) {
}

@media screen and (min-width: 1280px) {
}
